<div class="container">
  <div class="toolbar" role="banner">
    <span class="padded">Letterboard Jokes</span>
    <div class="spacer"></div>
    <a class="padded" aria-label="Steven Partridge on Github" target="_blank" rel="noopener" href="https://github.com/StevenPartridge" title="Steven Partridge on Google">
      by Steven Partridge
    </a>
  </div>
  
  <div class="content" role="main">
    
    <div class="intro">
      <h1>Welcome to LetterboardJokes</h1>
      <p>Insert your available letters and hit submit!</p>
    </div>
    
    <div class="interactive">
      <div class="input">
        <textarea type="text" name="letterInput" id="letterInput" #letterInput (keyup)="submitJoke( letterInput.value )">
          </textarea>
      </div>
      <div class="output">
        <textarea type="text" name="jokeOutput" id="jokeOutput" readonly value="{{ availableJokes }}">
          </textarea>
        <button>Reset</button>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>
    <p>Thanks for coming by!</p>
    <a href="https://linkedin.com/StevenPartridge">Check me out on LinkedIn!</a>
    <a href="https://github.com/StevenPartridge">Check me out on GitHub!</a>
  </footer>
  
</div>
